
.form {
    display: flex;
    flex-direction: column;
    gap: var(--cp-space-lg);
    padding-bottom: var(--cp-space-md);
}

.field {
    display: flex;
    flex-direction: column;

}

.label_field {
    font-size: var(--cp-text-sm);
    color: var(--cp-color-text-secondary);
    font-weight: var(--cp-font-weight-regular);
    margin-bottom: var(--cp-space-xs);
}

.control {
    position: relative;
    width: 100%;
}

.eye_icon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.password_hint {
    font-size: var(--cp-text-xs);
    font-weight: var(--cp-font-weight-regular);
    color: var(--cp-color-text-secondary);
    padding-top: 9px;
}